{% extends "base.html" %}{% load static i18n %}
{% block content %}
<h1>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&#9752;&ensp;Welcome to forum "Sveikuoliukas"!&ensp;&#9752;</h1>
<main>
<h3>
<p></p>
<p>&ensp;&ensp;Sveiki Sveikuoliukai!</p>
<p>&ensp;&ensp;Kiekvienas iš mūsų esame kažkiek ydingi, bet tai neprivalo mūsų stabdyti gyventi sveikiau! Vieni nori pradėti sportuoti, bet negali prisiversti; kiti -  mesti rūkyti, bet trūksta palaikymo; treti trokšta numesti svorio, bet jokios dietos neveikia.. Čia tik populiariausi pavyzdžiai ko žmogui reikia, kad gyvent sveikiau, bet norų būna įvairiausių! Taip atsirado ir šis forumas "Sveikuoliukas", kuriame galima bendrauti įvairiausiomis temomis, susijusiomis su sveika gyvensena. Jei nori pakeisti savo gyvenimo būdą, ieškai naudingo patarimo, pasiūlymų kaip ir ko imtis, ar tiesiog paprasčiausių palaikymo žodžių, prisijunk jau dabar ir bendrauk drąsiai!<br />
&ensp;&ensp;Gal jau laikas pradėti gyventi sveikiau..?</p>
<p>&ensp;&ensp;Pagarbiai,<br />
&ensp;&ensp;Forumo "Sveikuoliukas" įkūrėjų komanda &#9752; </p>


  <div class="slide-container">
    <input type="radio" name="slides" id="slide1" checked>
    <input type="radio" name="slides" id="slide2">
    <input type="radio" name="slides" id="slide3">
  
    <div class="mySlides" id="slide1">
      <img src="media/board_images/Screenshot_2024-03-11_173705.png" style="width:80%" alt="Slide 1">
    </div>
  
    <div class="mySlides" id="slide2">
      <img src="media/board_images/Screenshot_2024-03-11_174021.png" style="width:80%" alt="Slide 2">
    </div>
  
    <div class="mySlides" id="slide3">
      <img src="media/board_images/Screenshot_2024-03-11_174124.png" style="width:80%" alt="Slide 3">
    </div>
  
    <div class="nav">
      <label for="slide1"></label>
      <label for="slide2"></label>
      <label for="slide3"></label>
    </div>
  </div>

    <p>Total users at this time: {{ users_count }}</p>
    <p>Total posts at this time: {{ posts_count }}</p>
    <p>Total comments at this time: {{ comments_count }}</p>

    
</main>
{% endblock content %}

