{% extends "base.html" %}{% load static i18n %}
{% block content %}
<h1>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&#9752;&ensp;{% trans "Welcome to forum 'Sveikuoliukas'!" %} &ensp;&#9752;</h1>
<main>
<h3>
<p></p>
<p>&ensp;&ensp;{% trans "Hello healthy lifestyle fans!" %}</p>
<p>&ensp;&ensp;{% trans "We all have our flaws, but that doesn't have to stop us from living a healthier life! Some want to start exercising, but cannot force themselves to start, others - quit smoking, but lack of support; and some - want to lose weight, but diets do not work.. These are only the most popular examples of what a person needs to live healthier, but there are many more! This is why this forum 'Sveikuoliukas' was created. Here you can communicate on various topics related to healthy living. If you want to change your lifestyle or looking for useful advices and suggestions on how and what to do, or maybe just looking for words of support, join now!" %}<br/>
&ensp;&ensp;{% trans "Maybe it's time to start living healthier..?" %}</p>
<p>&ensp;&ensp;{% trans "Sincerely," %}<br />
&ensp;&ensp;{% trans "Forum 'Sveikuoliukas' team" %} &#9752; </p>

  <div class="slide-container">
    <input type="radio" name="slides" id="slide1" checked>
    <input type="radio" name="slides" id="slide2">
    <input type="radio" name="slides" id="slide3">
  
    <div class="mySlides" id="slide1">
      <img src="media/board_images/Screenshot_2024-03-11_173705.png" style="width:80%" alt="Slide 1">
    </div>
  
    <div class="mySlides" id="slide2">
      <img src="media/board_images/Screenshot_2024-03-11_174021.png" style="width:80%" alt="Slide 2">
    </div>
  
    <div class="mySlides" id="slide3">
      <img src="media/board_images/Screenshot_2024-03-11_174124.png" style="width:80%" alt="Slide 3">
    </div>
  
    <div class="nav">
      <label for="slide1"></label>
      <label for="slide2"></label>
      <label for="slide3"></label>
    </div>
  </div>

    <p>{% trans "Total users at this time:" %} {{ users_count }}</p>
    <p>{% trans "Total posts at this time:" %} {{ posts_count }}</p>
    <p>{% trans "Total comments at this time:" %} {{ comments_count }}</p>
</h3>
</main>
{% endblock content %}

