{% extends "base.html" %}{% load i18n %}
{% block title %}{{ block.super }} | {{ forum }}{% endblock title %}
{% block content %}
<h1 style="font-family:cursive; font-size:180%;"> {{ post.name }}</h1>
<ul class="post">
  <p>{% trans "post maker:"|capfirst %} &emsp; <c style="font-weight:bold"> {{ post.owner }} </c>
    {% if post.owner.profile.picture %}
    <img src="{{ post.owner.profile.picture.url }}" alt={% trans "profile picture"|capfirst %} width="100">
    {% endif %}
  </p>
<p style="font-family:cursive">{{ post.description }}</p>
<p> {% if post.image %}
  <a href="{{ post.image.url }}">
    <img src="{{ post.image.url }}" alt={% trans "post Image"|title %} width="150">
  </a>
    {% endif %}
</p>
<p>{% trans "created"|capfirst %}: {{ post.created_at }}{% if post.created_at != post.updated_at %},
    {% trans "updated"|capfirst %}: {{ post.updated_at }}
{% endif %}
</p>
{% if post.owner == request.user or request.user.is_superuser %}
    <p>
        <a class="button" href="{% url "post_update" post.pk %}">{% trans "edit this post"|capfirst %}</a>
    </p>
    {% endif %}
</ul>
    {% for comment in comment_list %}
    <ul class="comment">
    <p>{% trans "comment maker:"|capfirst %} &emsp; <c style= "font-weight:bold;"> {{ comment.owner }} </c>
      {% if comment.owner.profile.picture %}
      <img src="{{ comment.owner.profile.picture.url }}" alt={% trans "profile Picture"|title %} width="100">
      {% endif %}
    </p>
      <p style="font-family:cursive">{{ comment.body }}</p>
      <p>{% if comment.image %}
        <a href="{{ comment.image.url }}">
          <img src="{{ comment.image.url }}" alt={% trans "comment Image"|title %} width="150">
        {% endif %}
        </a>
      </p>
      <p>{% trans "created"|capfirst %}: {{ comment.created_at }}{% if comment.created_at != comment.updated_at %}, {% trans "updated" %}: {{ comment.updated_at }}{% endif %}</p>
      {% if comment.owner == request.user or request.user.is_superuser %}
      <p>
        <a class="button" href="{% url "comment_update" pk=comment.pk %}">{% trans "edit this comment"|capfirst %}</a>
      </p> 
      {% endif %}
    </ul>
    {% endfor %}

    <div class="pagination">
      <span class="pagination_span">
          {% if comment_list.has_previous %}
          <li><a href="?page={{ comment_list.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
          {% for i in comment_list.paginator.page_range %}
            {% if comment_list.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only"></span></span></li>
            {% else %}
              <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if comment_list.has_next %}
            <li><a href="?page={{ comment_list.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
      </span>
    </div>

  <a class="button" style="float:left;" href="{% url "comment_create" post.pk%}">{% trans "create new comment"|capfirst %}</a>
{% endblock content %}
