{% extends "base.html" %}{% load i18n %}
{% block title %}{{ block.super }} | {{ forum }}{% endblock title %}
{% block content %}
<h1> {{ post.name }}</h1>
<ul class="post">
  <li>{% trans "owner"|capfirst %}: {{ post.owner }} 
    {% if post.owner.profile.picture %}
    <img src="{{ post.owner.profile.picture.url }}" alt={% trans "profile Picture"|title %} width="100">
    {% endif %}
  </li>
<p>{{ post.description }}</p>
<li> {% if post.image %}
    <img src="{{ post.image.url }}" alt={% trans "post Image"|title %} width="150">
    {% endif %}
</li>
<p>{% trans "created"|capfirst %}: {{ post.created_at }}{% if post.created_at != post.updated_at %},
    {% trans "updated" %}: {{ post.updated_at }}
{% endif %}
</p>
{% if post.owner == request.user or request.user.is_superuser %}
    <p>
        <a class="button" href="{% url "post_update" post.pk %}">{% trans "edit"|capfirst %}</a>
    </p>
    {% endif %}
</ul>
    {% for comment in post.comments.all %}
    <ul class="comment">
    <li>{% trans "owner"|capfirst %}: {{ comment.owner }}
      {% if comment.owner.profile.picture %}
      <img src="{{ comment.owner.profile.picture.url }}" alt={% trans "profile Picture"|title %} width="100">
      {% endif %}
    </li>
      <p>{{ comment.body }}</p>
      <li>{% if comment.image %}
      <img src="{{ comment.image.url }}" alt={% trans "comment Image"|title %} width="150">
      {% endif %}
      </li>
      <p>{% trans "created"|capfirst %}: {{ comment.created_at }}{% if comment.created_at != comment.updated_at %}, {% trans "updated" %}: {{ comment.updated_at }}{% endif %}</p>
    </ul>
    {% endfor %}
  <a class="button" style="float:left;" href="{% url "comment_create" post.pk%}">{% trans "create new comment"|capfirst %}</a>
{% endblock content %}

